/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
body {
  padding: 20px;
}
.links ul {
  word-spacing: 35px;
}
.links li {
  display: inline-block;
  padding: 20px;
}
.logo {
  padding-left: 10px;
}

.title {
  position: relative;
  bottom: 100px;
  display: inline-block;
  width: 45%;
  padding: 10%;
}
.h1 {
  font-size: 72px;
}
.button {
  display: inline-block;
  font-size: 25px;
  padding-left: 25;
}
.imgtwoo {
  display: inline-block;
  width: 45%;
  padding: 10%;
}

.first {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  word-spacing: 2px;
  margin-bottom: 40px;
  padding-top: 40px;
}
.one {
  padding-right: 20px;
}
.middle-img {
  width: 100%;
}

.second {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  word-spacing: 2px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.three {
  padding-right: 20px;
}
.four {
  padding-right: 20px;
}

.contact {
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
}
footer {
  padding: 30px;
  text-align: center;
  font-size: 12px;
  word-spacing: 1px;
}
